<%= title(t :gestion_admin) %>
<h1><%= (t :gestion_admin) %></h1>
<ul>
  <% for user in @users %>
      <li><%= link_to image_tag("detruire.png", :size => '20x20') ,user, :method => :delete, :confirm => (t :confirm_sure),
              :title => "Delete #{user.name}" %>
        <%= h(user.name) %>
      </li>
  <% end %>
</ul>

<%= link_to (t :ajouter), :controller => 'sessions', :action => 'add_user' %>   <%= link_to (t :retour_admin), :controller => 'sessions', :action => 'index' %>
<br/>
<br/>