<h1><%= (t :acces_admin) %></h1>
<p><%= (t :merci_identif) %></p>
<%= form_for(:session, :url => sessions_path) do |f| %>

    <div class="field">
      <%= f.label (t :cip) %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label (t :pass) %><br />
      <%= f.password_field :password %>
    </div>
    <div class="actions">
      <%= f.submit  (t :login) %>
    </div>
<% end %>

<p><%= (t :no_register) %><%= link_to (t :sign_up), signup_path %></p>