<h1>Accès à la partie Administration</h1>
<p>Merci de vous identifier</p>
<%= form_for(:session, :url => sessions_path) do |f| %>
    <div class="field">
      <%= f.label :name, "Code cip" %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :password, "Mot de passe" %><br />
      <%= f.password_field :password %>
    </div>
    <div class="actions">
      <%= f.submit "Login" %>
    </div>
<% end %>

<p>Not registrer yet ? <%= link_to "Sign up", signup_path %></p>