<%= nested_form_for [@annee, @project], :html => {:multipart => true} do |f| %>
    <% if @project.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@project.errors.count, (t :error_project)) %></h2>

          <ul>
            <% @project.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label (t :proj_name) %><br/>
      <%= f.text_field :projectName %>
    </p>
    <p>
      <%= f.label (t :descrip) %><br/>
      <%= f.text_area :description, :rows => '10', :cols => '40' %>
    </p>
    <p>
      <%= f.label (t :short_descrip) %><br/>
      <%= f.text_area :shortDescription, :rows => '5', :cols => '40' %>
    </p>
    <%= f.hidden_field :invisible, :value => FALSE %>

    <p><b><%= (t :pict_proj) %> </b> ( <%= (t :only) %> jpg, png, jpeg, gif )  </p>
    <%= f.fields_for :uploads do |upload| %>
        <p>
          <%= image_tag(upload.object.file.url(:thumb)) if upload.object.file? %>
        </p>
        <p>
          <%= upload.file_field :file %>
            <%= upload.link_to_remove (t :delete_pict) %>
        </p>
    <% end %>
    <%= f.link_to_add (t :add_pict), :uploads %>   <br/>

     <h4><%= (t :pdf_proj) %></h4>
    <%= f.fields_for :pdf_uploads do |pdf_upload| %>
        <p>
          <%= image_tag("PDF_Logo.jpg", :size => '50x50') if pdf_upload.object.pdf? %>
        </p>
        <p>
          <%= pdf_upload.file_field :pdf %>
          <%= pdf_upload.link_to_remove (t :delete_pdf) %>
        </p>
    <% end %>
    <%= f.link_to_add (t :add_pdf), :pdf_uploads %>
    <p><%= f.submit (t :edit) %></p>
<% end %>

