<%= nested_form_for [@annee, @project], :html => {:multipart => true} do |f| %>
    <% if @project.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@project.errors.count, "error") %> prohibited this annee from being saved:</h2>

          <ul>
            <% @project.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :projectName %><br/>
      <%= f.text_field :projectName %>
    </p>
    <p>
      <%= f.label :description %><br/>
      <%= f.text_area :description, :rows => '10', :cols => '40' %>
    </p>
    <p>
      <%= f.label :shortDescription %><br/>
      <%= f.text_area :shortDescription, :rows => '5', :cols => '40' %>
    </p>
    <%= f.hidden_field :invisible, :value => FALSE %>

    <%= f.fields_for :uploads do |upload| %>
        <p>
          <%= image_tag(upload.object.file.url(:thumb)) if upload.object.file? %>
        </p>
        <p>
          Picture :
          <%= upload.file_field :file %>
          ( only jpg, png, jpeg, gif )
        </p>
        <%= upload.link_to_remove "Remove this image" %>
    <% end %>
    <%= f.link_to_add "Add image", :uploads %>   <br/>

    <%= f.fields_for :pdf_uploads do |pdf_upload| %>
        <p>
          <%= image_tag("PDF_Logo.jpg", :size => '50x50') if pdf_upload.object.pdf? %>
        </p>
        <p>
          Pdf :
          <%= pdf_upload.file_field :pdf %>
        </p>
        <%= pdf_upload.link_to_remove "Remove this pdf" %>
    <% end %>
    <%= f.link_to_add "Add pdf", :pdf_uploads %>
    <p><%= f.submit %></p>
<% end %>

