<%= form_for [@annee, @project], :html => {:multipart => true} do |f| %>
    <% if @project.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@project.errors.count, "error") %> prohibited this annee from being saved:</h2>

          <ul>
            <% @project.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :projectName %><br/>
      <%= f.text_field :projectName %>
    </p>
    <p>
      <%= f.label :description %><br/>
      <%= f.text_area :description, :rows => '10', :cols => '40' %>
    </p>
    <p>
      <%= f.label :shortDescription %><br/>
      <%= f.text_area :shortDescription, :rows => '5', :cols => '40' %>
    </p>
    <%= f.hidden_field :invisible, :value => FALSE %>
    <p>
      <% if (@project.file.url)==nil %>
          Picture :
          <%= f.file_field :file %>
          ( only jpg,png,jpeg,gif )
      <% else %>
           Picture :
          <%=  f.file_field :file %>
          ( only jpg,png,jpeg,gif )
      <% end %>

    </p>
    <p>
      Pdf :
      <%= f.file_field :pdf %>
    </p>
    <p><%= f.submit %></p>
<% end %>

