<h1>Liste des projets (<%=h @annee.year %>)</h1>
<br />
<% if signed_in? %>
    <%= link_to 'New project', new_annee_project_path(@annee) %> || <%= link_to "Retour à l'administration", :controller => 'sessions', :action => 'index'  %>


    <% @projects.each do |project| %>

        <ul>
          <li><p><%= link_to project.projectName, [@annee, project] %>   :
          <%= link_to image_tag("editer.png", :size => '20x20'), edit_annee_project_path(@annee, project) %>
            | <% if project.invisible ==  TRUE %>
                <%= image_tag("horsligne.png", :size => '20x20') %> <%= link_to image_tag("publier.png",:size => '20x20'), :action => 'publier', :id => project, :annee_id => @annee %>
            <% else %>
                <%= image_tag("enligne.png", :size => '20x20') %> <%= link_to image_tag("publier.png", :size => '20x20'), :action => 'horsligne', :id => project, :annee_id => @annee %>
            <% end %>
            | <%= link_to image_tag("detruire.png", :size => '20x20'), project_delete_url(@annee, project),:confirm => "You sure?"  %>

          </p>
            <p><%=h project.students.count %> étudiants</p>
          </li>
            </ul>

    <% end %>


    <p><%= link_to 'Nouveau projet', new_annee_project_path %> || <%= link_to "Retour à l'administration", :controller => 'sessions', :action => 'index' %></p>
<% else %>
    <%= render(:partial => "layouts/menu_projet_annee") %>

    <% @projects.each do |project| %>
        <% if project.invisible ==  FALSE %>

        <p><%= link_to project.projectName, :action => 'show', :id => project, :annee_id => @annee  %>
          <%=h project.shortDescription %></p>
            <% end %>
    <% end %>
<% end %>

<%= render(:partial => "layouts/legende_project") %>
