<h1>Liste des projets (<%=h @annee.year %>)</h1>
<br />
<% if signed_in? %>
    <%= link_to 'New project', new_annee_project_path(@annee) %> || <%= link_to "Retour à l'administration", :controller => 'sessions', :action => 'index'  %>

    <%= render(:partial => "layouts/legende_admin") %>

    <% @projects.each do |project| %>

        <h2><%= link_to project.projectName, [@annee, project] %> (<%=h project.students.count %> étudiants)</h2>

        <div id="projet_admin">
          <p><%= link_to image_tag("editer.png"), edit_annee_project_path(@annee, project) %>
            | <% if project.invisible ==  TRUE %>
                <%= image_tag("horsligne.png") %> <%= link_to image_tag("publier.png"), :action => 'publier', :id => project, :annee_id => @annee %>
            <% else %>
                <%= image_tag("enligne.png") %> <%= link_to image_tag("publier.png"), :action => 'horsligne', :id => project, :annee_id => @annee %>
            <% end %>
            | <%= link_to image_tag("detruire.png"), project_delete_url(@annee, project)  %>

          </p>
        </div>

    <% end %>


    <p><%= link_to 'Nouveau projet', new_annee_project_path %> || <%= link_to "Retour à l'administration", :controller => 'sessions', :action => 'index' %></p>
<% else %>
    <%= render(:partial => "layouts/menu_projet_annee") %>

    <% @projects.each do |project| %>
        <% if project.invisible ==  FALSE %>

        <p><%= link_to project.projectName, :action => 'show', :id => project, :annee_id => @annee  %>
          <%=h project.shortDescription %></p>
            <% end %>
    <% end %>
<% end %>