<h1><%= h @project.projectName %> (<%= h @project.annee.year %>)</h1>
<p>
  <b>Description brève:</b>
<p><%= output = @project.shortDescription %></p>
</p>

<p>
  <b>Description:</b>
<div id="page">
  <p><%= output = @project.description %></P>
</div>
</p
<p>
  <% if(@project.file.url) %>
      <%= link_to image_tag(@project.file.url(:thumb)), @project.file_url%>  <br/>
      <%= link_to("Enlarge", @project.file_url) %>
  <% end %>
  <p>
  <p>
    <% if(@project.pdf.url) %>
        <%= link_to image_tag("PDF_Logo.jpg",  :size => '50x50'), @project.pdf.url %>  <br/>
        <%= link_to "Download", @project.pdf.url %>
    <% end %>
    <p>
      <br/>
      <% if signed_in? %>
        <div id="projet_admin">
          <p><%= link_to image_tag("editer.png"), edit_annee_project_path(@annee, @project) %>
            <%= link_to 'Retour', annee_projects_path(@annee) %>
          </p>
        </div>
    <% else %>

        <p><%= link_to 'Retour', :controller => 'projects', :annee_id => @annee %></p>

    <% end %>