<h1><%= h @project.projectName %> (<%= h @project.annee.year %>)</h1>
<p>
  <b>Description brève:</b>
<p><%= output = @project.shortDescription %></p>
</p>

<p>
  <b>Description:</b>
<div id="page">
  <p><%= output = @project.description %></P>
</div>
</p
<p>
  <% for upload in @project.uploads %>
      <p>
        <% if (upload.file.url) %>
            <%= link_to image_tag(upload.file.url(:thumb)), upload.file_url %>  <br/>
            <%= link_to("Enlarge", upload.file_url) %>
        <% end %>
        <p>
  <% end %>
  <% for pdf_upload in @project.pdf_uploads %>
      <p>
        <% if (pdf_upload.pdf.url) %>
            <%= link_to image_tag("PDF_Logo.jpg", :size => '50x50'), pdf_upload.pdf.url %>  <br/>
            <%= link_to "Download", pdf_upload.pdf.url %>
        <% end %>
        <p>
  <% end %>

<% if signed_in? %>
    <div id="projet_admin">
      <%= link_to image_tag("editer.png"), edit_annee_project_path(@annee, @project) %>
      <%= link_to 'Retour', :controller => 'projects', :annee_id => @annee %> <br/>
    </div>
<% else %>
    <%= link_to 'Retour', :controller => 'projects', :annee_id => @annee %> <br/>
<% end %>

