<h1><%= (t :list_upload) %></h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @uploads.each do |upload| %>
  <tr>
    <td><%= link_to (t :show), upload %></td>
    <td><%= link_to (t :edit), edit_upload_path(upload) %></td>
    <td><%= link_to (t :delete), upload, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to (t :new_upload), new_upload_path %>
