<h1><%= (t :liste_user) %></h1>

<table>
  <tr>
    <th><%= (t :nom_user) %></th>
    <th>Hashed password</th>
    <th>Salt</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= link_to (t :voir), user %></td>
    <td><%= link_to (t :editer), edit_user_path(user) %></td>
    <td><%= link_to (t :detruire), user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to (t :nouveau_user), new_user_path %>
