<br />

<p><%= (t :legend) %> : </p>
<p>
  <%= image_tag("editer.png", :size => '20x20')%> : <%= (t :edit) %> &nbsp&nbsp&nbsp
  <%= image_tag("voir.png", :size => '20x20')%> : <%= (t :show) %> &nbsp&nbsp&nbsp
  <%= image_tag("publier.png", :size => '20x20') %> : <%= (t :publish) %> &nbsp&nbsp&nbsp
  <%= image_tag("horsligne.png", :size => '20x20') %> : <%= (t :offline) %> &nbsp&nbsp&nbsp
  <%= image_tag("enligne.png", :size => '20x20') %> : <%= (t :online) %> &nbsp&nbsp&nbsp
</p>
<br />