<br />

<p><%= (t :legende) %> : </p>
<p>
  <%= image_tag("editer.png", :size => '20x20')%> : <%= (t :editer) %> &nbsp&nbsp&nbsp
  <%= image_tag("horsligne.png", :size => '20x20') %> : <%= (t :hors_ligne) %> &nbsp&nbsp&nbsp
  <%= image_tag("enligne.png", :size => '20x20') %> : <%= (t :en_ligne) %> &nbsp&nbsp&nbsp
  <%= image_tag("publier.png", :size => '20x20') %> : <%= (t :publier) %> &nbsp&nbsp&nbsp

</p>
<br />