<br />

<p>Légende :</p>
<p>
  <%= image_tag("editer.png", :size => '20x20')%> : Editer &nbsp&nbsp&nbsp
  <%= image_tag("horsligne.png", :size => '20x20') %> : Hors-ligne &nbsp&nbsp&nbsp
  <%= image_tag("enligne.png", :size => '20x20') %> : En ligne &nbsp&nbsp&nbsp
  <%= image_tag("publier.png", :size => '20x20') %> : Publier ou passer hors-ligne &nbsp&nbsp&nbsp
  <%= image_tag("detruire.png", :size => '20x20') %> : Supprimer  &nbsp&nbsp&nbsp
</p>
<br />