<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
  <%= javascript_include_tag "nested_form" %>
  <title>Projets S7-S8</title>
  <%= stylesheet_link_tag "application", :media => "all" %>


  <script type="text/javascript">
      sfHover = function() {
          var sfEls = document.getElementById("menu").getElementsByTagName("LI");
          for (var i=0; i<sfEls.length; i++) {
              sfEls[i].onmouseover=function() {
                  this.className+=" sfhover";
              }
              sfEls[i].onmouseout=function() {
                  this.className=this.className.replace(new RegExp(" sfhover\\b"), "");
              }
          }
      }
      if (window.attachEvent) window.attachEvent("onload", sfHover);
  </script>


</head>

<body <%= @body_extras %>>
<div id="bordure">
  <!-- Header -->
  <div id="header">
    <logo>
      <a href="http://www.usherbrooke.ca/"><%= image_tag("imagesHeader/UdeSLogo.gif") %></a>
      <faculte>
        <a href="http://www.usherbrooke.ca/genie/">Faculté de génie</a> &nbsp &nbsp &nbsp &nbsp
      </faculte>
      <genie>
        <a href="http://www.usherbrooke.ca/gelecinfo/">Département de génie électrique et de génie informatique</a>
      </genie>
      <br /><br />
      <!-- Lien pour la bannière -->
      <banniere>
        <%= render(:partial => "layouts/banniere_random") %>
      </banniere>
    </logo>
  </div>

  <!-- Menu principal horizontal -->
  <ul id="menu">
    <li><%= link_to (t 'accueil'), :controller => 'home' %></li>
    <li><%= link_to (t 'act_peda'), '404.html'%></li>
    <li><a><%= (t 'un_proj') %></a>
      <ul id="proj">
        <li><%= link_to (t 'un_proj_desc'), :controller => 'home', :action => 'project' %></li>
        <li><%= link_to (t 'un_proj_format'), :controller => 'home', :action => 'format' %></li>
      </ul>
    </li>
    <% if signed_in? %>
        <li><%=  link_to 'Administration', :controller => 'sessions', :action => 'index' %></li>
    <% else %>
         <li><%= link_to 'Administration', '/login' %></li>
    <% end %>
    <li><a><%= (t 'lang') %></a>
      <ul id="lang">
        <li><%= link_to "English", :locale => 'en' %></li>
        <li><%= link_to "Français", :locale => 'fr' %></li>
      </ul>
    </li>
  </ul>

  <% if flash[:notice] %>
      <div id="flash"><%= flash[:notice] %></div>
  <% end -%>

  <!-- Corps de la page -->
  <div id="contenu">
    <%= yield  %>
  </div>

  <!-- Pied de page -->
  <div id="footer">
    <p><%=t 'droits' %> © Université de Sherbrooke, 2500, boul. de l'Université Sherbrooke (Québec) CANADA J1K 2R1<br />
      <%=t 'retour' %> <%= link_to (t 'accueil'), :controller => 'accueil' %> - <%=t 'equipe' %> <%= link_to 'eXit', :controller => 'erreur' %></p>
  </div>
</div>

<!-- Module Stats -->
<!-- <script type="text/javascript" src="/rail_stat/tracker_js"></script>
<noscript>
  <img src="/rail_stat/track" width="1" height="1" alt="" style="position: absolute;" />
</noscript>
-->
</body>
</html> 

