<div id="page">
  <%= "MiniSite > Projects > " + @project.name %>
  <div id="menu4">
    <ul>
      <li><%= link_to 'Description', {:controller => 'projects', :action => :description}, :class => selected_class('projects') %></li>
      <li><%= link_to 'Files', {:controller => 'projects', :action => :files}, :class => selected_class('projects') %></li>
      <li><%= link_to 'Additional Details', {:controller => 'projects', :action => :additionalDetails}, :class => selected_class('projects') %></li>
      <li><%= link_to 'Bugs', {:controller => 'projects', :action => :bugs}, :class => selected_class('projects') %></li>
    </ul>
  </div>

  <div class="main-content-left">
    <div class="row">

      <section class="card special">

        <div class="potm"><%= @project.name %></div>

        <section class="project-icon">
          <%= image_tag project.image.url, :size => '50x50'%>  <br/>
        </section>
        <section class="project-info">
          <header>
            <h3>Developpers : <a href="http://0.0.0.0:3000/users/5" title="Dupont">Dupont</a>, <a href="http://0.0.0.0:3000/users/4" title="Bob">Bob</a></h3>
          </header>
          <br/>
          <div id=slogan>
            <%= @project.title %>
          </div>
          <br/>
          <%= link_to @project.name + ' Web Site',  @project.urlSite %>
        </section>

        <section class="best-release">
          <div class="sfdl" ></div>
        </section>
      </section>
    </div>

    <div class="row">

      <section class="card special">
        <section class="project-info">
          <header>
            <h3>Description</h3>
          </header>
          <p>
            <%= @project.description %>
          </p>
        </section>
      </section>
    </div>

    <div class="row">

      <section class="card special">
        <section class="project-info">
          <header>
            <h3>Features</h3>
          </header>
          <p>
          <ul>
            <li>High Dynamic Range Imaging</li>
            <li>Merge multiple pictures together to create an HDRi</li>
            <li>Multiple tonemap operators</li>
            <li>Reads RAW files</li>
            <li>16bit/channel output to exploit a wide range of post processing techniques </li>
          </ul>
          </p>
        </section>
      </section>
    </div>
  </div>
</div>

