<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
  <%= stylesheet_link_tag "home", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body >
<div id="header">
  <p id="header-title">
    eXit's projects
  </p>
  <div id="user-log">
    <% if signed_in? %>
        <li><%= link_to "Profil", edit_user_path(current_user) %></li>
        <li><%= link_to "Logout", logout_path, :method => :delete %></li>
    <% else %>
        <li><%= link_to "Login", login_path %></li>
    <% end %>
  </div>
</div>


<ul class="menu">
  <li class="current"><a href="/home">Welcome</a></li>
  <li><a href="#">Projects</a></li>
  <li><a href="#">Contact us</a></li>
</ul>
<%= yield %>

<section class="round">
  <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
  <% end %>

</section>

</body>
</html>