<%= title(t :year_list) %>
<h1><%= (t :year_list) %></h1>

<p><%= link_to (t :new_year), new_annee_path %> || <%= link_to (t :back), :controller => 'sessions', :action => 'index' %></p>

<br/>

<% @annees.each do |annee| %>
    <p>
    <%=h annee.year %>  :
        <%= link_to image_tag("editer.png", :size => '20x20'), edit_annee_path(annee) %>
         <% if annee.invisible_annee ==  TRUE %>
            <%= image_tag("horsligne.png", :size => '20x20') %> <%= link_to image_tag("publier.png", :size => '20x20'), :action => 'publier', :id => annee %>
        <% else %>
            <%= image_tag("enligne.png", :size => '20x20') %> <%= link_to image_tag("publier.png",:size => '20x20'), :action => 'horsligne', :id => annee %>
        <% end %>
    </p>
<% end %>
<br />


<p><%= link_to (t :new_year), new_annee_path %> || <%= link_to (t :back), :controller => 'sessions', :action => 'index' %></p>


<%= render(:partial => "layouts/legende_admin") %>



