<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, (t :error_student)) %></h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label (t :nom_etu) %><br />
    <%= f.text_field :studentName %>
  </div>
  <div class="field">
    <%= f.label (t :prenom_etu) %><br />
    <%= f.text_field :studentFirstName %>
  </div>
  <div class="field">
    <%= f.label (t :cip_etu) %><br />
    <%= f.text_field :cip %>
  </div>
  <div class="field">
    <%= f.label (t :inactif) %><br />
    <%= f.check_box :inactif %>
  </div>
  <div class="actions">
    <%= f.submit%>
  </div>
<% end %>
