<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :studentName %><br />
    <%= f.text_field :studentName %>
  </div>
  <div class="field">
    <%= f.label :studentFirstName %><br />
    <%= f.text_field :studentFirstName %>
  </div>
  <div class="field">
    <%= f.label :cip %><br />
    <%= f.text_field :cip %>
  </div>
  <div class="field">
    <%= f.label :inactif %><br />
    <%= f.check_box :inactif %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
