<h1>Listing students</h1>

<% @students.each do |student| %>
    <ul><li>
    <p> <b>   <%=h student.studentName %>
      <%=h student.studentFirstName %>  </b>
      (CIP : <%=h student.cip %>)     :
      <% if student.inactif ==  TRUE %>
          <%= image_tag("horsligne.png", :size => '20x20') %>
      <% else %>
          <%= image_tag("enligne.png", :size => '20x20') %>
      <% end %>

      <%=  link_to image_tag("voir.png", :size => '20x20'), student %>
      <%=  link_to image_tag("editer.png", :size => '20x20'), edit_student_path(student) %>
      <p><%=h student.projects.count %> project(s)
     </p>
    </p>
        </li></ul>
<% end %>

<br />

<p><%= link_to 'Nouvel étudiant', new_student_path %> || <%= link_to "Retour à l'administration", :controller => 'sessions', :action => 'index' %></p>