<%= title @student.studentFirstName %> <%= title " " + @student.studentName.upcase %>
<h1><%= @student.studentFirstName %> <%= " " + @student.studentName.upcase %></h1>
<p id="notice"><%= notice %></p>

<p>
  <b><%= (t :student_name) %> : </b>
  <%= @student.studentName %>
</p>

<p>
  <b><%= (t :student_firstname) %> : </b>
  <%= @student.studentFirstName %>
</p>

<p>
  <b><%= (t :cip) %> : </b>
  <%= @student.cip %>
</p>


<%= link_to (t :manage_student_proj), :id => @student, :action => 'projects' %>

<%= link_to (t :edit), edit_student_path(@student) %> |
<%= link_to (t :back), students_path %>
<br/>