<%= title @student.studentName %>
<p id="notice"><%= notice %></p>

<p>
  <b><%= (t :nom_etu) %> : </b>
  <%= @student.studentName %>
</p>

<p>
  <b><%= (t :prenom_etu) %> : </b>
  <%= @student.studentFirstName %>
</p>

<p>
  <b><%= (t :cip) %> : </b>
  <%= @student.cip %>
</p>


<%= link_to (t :gerer_proj_etu), :id => @student, :action => 'projects' %>

<%= link_to (t :editer), edit_student_path(@student) %> |
<%= link_to (t :retour), students_path %>
<br/>