<%= title(t :title_proj) %>
<h1><%= (t :title_proj) %></h1>
<p> <%= (t :descript_proj1) %></p> <%= (t :email) %>
<p><%= (t :descript_proj2) %></p>

<p><%= (t :descript_proj3) %>
<li>[b] [/b] : <b><%= (t :text_b) %></b></li>
<li>[i] [/i] : <i><%= (t :text_i) %></i></li>
<li>[u] [/u] : <u><%= (t :text_u) %></u></li>
<li>[size=4] [/size] : <font size="4px"><%= (t :text_size) %> </font></li>
<li>[color=red] [color] : <font color=red><%= (t :text_color) %></font></li>
<li>[url=http://monsite.com] [/url] : <a href="#"><%= (t :text_url) %></a></li>
<li>[email] [/email] : <a href="#"><%= (t :text_email) %></a></li>
<li>[code] [/code] : <code><%= (t :text_code) %></code></li>
<li>[quote] [/quote] : <blockquote><%= (t :text_quote) %></blockquote></li>
</p>
  </br>
<p><%= (t :descript_proj4) %></p>
<p><i><u><%= (t :text_title) %></u></i></p>
<p>
<ul><%= (t :descript_proj5_1) %> [i]<%= (t :mot_breve) %> [/i] <%= (t :descript_proj5_2) %> </ul>
<ul><%= (t :descript_proj6_1) %> [b]<%= (t :mot_complete) %>[/b] <%= (t :descript_proj6_2) %> [size=1]<%= (t :mot_par_exemple) %>[/size] <%= (t :descript_proj6_3) %> [color=orange]<%= (t :mot_cout) %>[color]<%= (t :descript_proj6_4) %> [color=green]<%= (t :mot_duree) %>[color] <%= (t :descript_proj6_5) %><br/>
  <%= (t :descript_proj6_6) %> [url=http://monsiteprojet.com]<%= (t :mot_site_du_projet) %>[/url]<%= (t :descript_proj6_7) %> [email]<%= (t :mot_adresse_mail) %>[/email].</ul>
</p>

<p><%= (t :descript_proj7) %></p>
<p><i><u><%= (t :text_title) %></u></i></p>
<p>
<ul><%= (t :descript_proj5_1) %><i><%= (t :mot_breve) %></i> <%= (t :descript_proj5_2) %></ul>
<ul><%= (t :descript_proj6_1) %> <b><%= (t :mot_complete) %></b> <%= (t :descript_proj6_2) %><font size="1px"> <%= (t :mot_par_exemple) %></font> <%= (t :descript_proj6_3) %> <font color=orange><%= (t :mot_cout) %></font><%= (t :descript_proj6_4) %><font color=green> <%= (t :mot_duree) %></font> <%= (t :descript_proj6_5) %><br/>
  <%= (t :descript_proj6_6) %> <a href="#"><%= (t :mot_site_du_projet) %></a> <%= (t :descript_proj6_7) %> <a href="#"><%= (t :mot_adresse_mail) %></a></ul>.
</p>
