<%= title(t :index) %>
<%= render(:partial => "layouts/menu_projet_annee") %>
<h1><%=t :index%></h1>
<p><%=t :descript_accueil1 %></p>
<p><%=t :descript_accueil2 %></p>
<p><%=t :descript_accueil3 %></p>
