<%= form_for(@teacher) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label (t :nom_prof) %><br />
    <%= f.text_field :teacherName %>
  </div>
  <div class="field">
    <%= f.label (t :prenom_prof) %><br />
    <%= f.text_field :teacherFirstName %>
  </div>
  <div class="field">
    <%= f.label (t :cip_prof) %><br />
    <%= f.text_field :cipTeacher %>
  </div>
  <div class="field">
    <%= f.label (t :inactif) %><br />
    <%= f.check_box :inactifTeacher %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
