<%= title(t :edit_prof) %>
<h1><%= (t :edit_prof)%></h1>

<%= form_for(@teacher) do |f| %>

    <p>
      <%= f.label (t :nom_prof) %><br />
      <%= f.text_field :teacherName %>
    </p>
    <p>
      <%= f.label (t :prenom_prof) %><br />
      <%= f.text_field :teacherFirstName %>
    </p>
    <p>
      <%= f.label (t :cip_prof) %><br />
      <%= f.text_field :cipTeacher %>
    </p>
    <p>
      <%= f.label (t :inactif_prof) %><br />
      <%= f.check_box :inactifTeacher %>
    </p>
    <p>
      <%= f.submit (t :editer) %>
    </p>
<% end %>

<%= link_to (t :voir), @teacher %> |
<%= link_to (t :back), teachers_path %>