<h1>Liste des professeurs</h1>


<% @teachers.each do |teacher| %>
    <ul><li>
    <p>
      <%=h teacher.teacherFirstName  %>
      <%=h teacher.teacherName %>
      (CIP : <%=h teacher.cipTeacher  %>)
      <% if teacher.inactifTeacher ==  TRUE %>
          <%= image_tag("horsligne.png", :size => '20x20') %>
      <% else %>
          <%= image_tag("enligne.png", :size => '20x20') %>
      <% end %>

      <%= link_to 'Voir', teacher %>
      <%= link_to 'Editer', edit_teacher_path(teacher) %>

     <p> <%=h teacher.projects.count %> projet(s)
       </p>
    </p>
        </li></ul>
<% end %>


<br />

<p><%= link_to 'Nouveau professeur', new_teacher_path %> ||
  <%= link_to "Retour à l'administration", :controller => 'sessions', :action => 'index' %></p>