<p id="notice"><%= notice %></p>

<p>
  <b><%= (t :nom_prof) %> </b>
  <%= @teacher.teacherName %>
</p>

<p>
  <b><%= (t :prenom_prof) %> </b>
  <%= @teacher.teacherFirstName %>
</p>

<p>
  <b><%= (t :cip_prof) %> </b>
  <%= @teacher.cipTeacher %>
</p>
<p>
  <b><%= (t :projects) %> : </b>
  <% if @teacher.projects.count > 0 %>
      <%= @teacher.projects.collect {|c| c.projectName}.join(", ") %>
  <% else %>
      <%= (t :prof_aucun_proj) %>
  <% end %>
</p>


<%= link_to (t :gerer_proj_prof), :id => @teacher, :action => 'projects' %>
<%= link_to (t :editer), edit_teacher_path(@teacher) %> |
<%= link_to (t :retour), teachers_path %>
<br/>
